@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@media (max-width: 576px) {
    .form {
        padding: 1.5rem;
        border-radius: 15px;
    }

    .input-box {
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }
}


:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: var(--background-body);
    background-image: radial-gradient(at 0% 100%, rgba(0, 123, 255, 0.15) 0px, transparent 50%), radial-gradient(at 99% 1%, rgba(0, 123, 255, 0.15) 0px, transparent 50%);
    margin: 0;
    color: var(--text-dark);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
video{
    position: fixed;  /* stays in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes it fill the screen */
    z-index: -1;  /* puts it behind everything */
}

.bg{
    position: fixed;  /* stays in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes it fill the screen */
    z-index: -1;  /* puts it behind everything */
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    height: auto;
}

.form {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.form2 {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.input-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s; /* keeps bg transparent */
    border-radius: 20px;
}

.input-box input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    border-radius: 20px;
}


h2{
    font-size: 2em;
    color: #578bc7;
    text-align: center;
}
/*CSS Config for input boxes*/
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

/*Remember Forgot*/
.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}
.register-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}

